{{ define "main" }}
<section class="privacypolicy">
    <div class="container">
        <div class="about_breadcrumb" data-aos="fade-in" data-aos-duration="1000" data-aos-once="true">
            <br>
            <hr>
            <div class="custom-breadcrumb">
                <ul>
                    <li><a href="http://localhost:1313/bizcraft/">Home</a></li>
                    <li class="active"><a>Privacy Policy</a></li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</section>

<!-- Page End -->

<script src="/js/htmlcust.js"></script>



<script src="https://account.snatchbot.me/script.js"></script>
<script>
    window.sntchChat.Init(121876)
</script>

<script src="/js/jquery.fancybox.js"></script>
<script src="/js/main.js"></script>
<script src="/js/aos.js"></script>
<script>
    AOS.init();
</script>

<script type="text/javascript">
    (function (w, d, t, u, n, s, e) {
        w['SwiftypeObject'] = n;
        w[n] = w[n] || function () {
            (w[n].q = w[n].q || []).push(arguments);
        };
        s = d.createElement(t);
        e = d.getElementsByTagName(t)[0];
        s.async = 1;
        s.src = u;
        e.parentNode.insertBefore(s, e);
    })(window, document, 'script', '//s.swiftypecdn.com/install/v2/st.js', '_st');

    _st('install', 'JS9wWrsK9f6EcBXPaVz_', '2.0.0');
</script>

{{ end }}